main{
    margin: 0 auto;
}
main h3{
    font-size: 35px;
    font-family: auto;
    font-weight: bold;
    letter-spacing: -1px;

}


form label{
    width: 150px;
}
.change-password{
    width: 73%;
}
.change-password .list-icon .fa-info-circle{
    margin-left: -20px;
}
input{
    padding: 11px !important;
    font-family: fangsong;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1.5;
}
form  label{
    font-size: 18px;
    line-height: 2;
    font-family: emoji;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #e39530;
}

form button{
    font-size: 20px;
    line-height: 1.5;
    font-family: emoji;
    width: 200px;
}
.format-password{
    right: -400px;
    top: 10px;
}

.format-password a{
    color: black;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.5px;
    font-family: inherit;
    font-weight: 300;
}