input:focus{
   border-color: #ced4da !important;
   box-shadow: none !important;
}
.image-main-web{
    width: 40px;
}

 .name-page{
    font-size: 21px;
    color: wheat;
    line-height: 1;
    letter-spacing: -2px;
    font-family: monospace;
    font-weight: bolder;
    text-decoration: none;
}


header{
    background: #e39530;
}
header nav{
    background-color:  #e39530;
}