body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-light-orange-clean-warm-background-image_218921.jpg");
    width: 100%;
}
main{
    width: 60%;
    margin: 0 auto;
    margin-top:50px;
}

header p{
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.25px;
    font-family: sans-serif;
}

main .reset-password{
    margin: 0 auto;
    width: 70%;
    padding: 40px;
}
main .reset-password h3{
    font-size: 30px;
    font-family: initial;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 2;
  
}

main .reset-password .reset-password-main p
{
    font-size: 16px;
    font-weight: 300;
    font-family: emoji;
    line-height: 1.5;
    letter-spacing: -0.25px;
    margin-bottom: 30px;
}
main .reset-password .reset-password-main .text-remember{
    opacity: 0.8;
}

main .reset-password .reset-password-main form label{
    font-size: 18px;
    letter-spacing: -0.5px;
    font-family: emoji;
    line-height: 1;
    font-weight: 500;

}
main .reset-password .reset-password-main form input{
    padding: 12px;
    font-size: 15px;
    font-family: auto;
}
main .reset-password .reset-password-main a{
    opacity: 1;
    font-weight: bolder;
}


main .reset-password .reset-password-image{
    text-align: center;
    margin-bottom:20px;
    margin-top: 20px;
}
main .reset-password button{
    padding: 8px;
    font-family: emoji;
    font-size: 17px;
}
