/* css header */

/* css main */
main .themes{
    font-size: 28px;
    font-family: initial;
    letter-spacing: -1px;
    font-weight: 600;
    font-family:ui-monospace;
}
main{
    margin: 0 auto;
    width: 310px;
}
main form{
    padding: 20px;
}
main form input{
    padding: 2px !important;
}
main .name-information{
    margin-bottom: 7px;
    font-weight: 400;
    font-family: initial;
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1;
}

main .go-signup{
padding: 20px;
font-size:14px;
}
/* css footer */
