/* css header */
header .menu-icon{
    font-size: 24px;
    color: #dde9e0;
    margin-top: 3px;
}

header .dropstart .dropdown-toggle::before{
    content: none !important;

}

header .notification img{
    width: 40px;
}

header .notification .fa-bell{
    font-size: 23px;
    color: white;
}
header .notification .username{
    font-size: 18px;
    font-family: auto;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: white;
}
header .personal-information img{
    width: 150px;
}

header .id-persional{
    font-size: 17px;
    font-weight: bold;
    color: black;
    letter-spacing: -0.25px;
    font-family: auto;
}
/* css modal */

header .modal .username{
    line-height: 0.5;
    color: black;
    letter-spacing: -0.5px;
    font-weight: 400;
}
header .modal{
    height: 100vh;
}
header .modal .modal-content{
    width: 60%;
}
header .modal .modal-header{
    background-color: #e39530;
}
header .modal .modal-footer .content{
    height: 435px;
    overflow: scroll;
}
header table td a{
    color: black !important;
    letter-spacing: -0.5px;
    font-size: 16px;
}
header table td a:hover{
    color: blue !important;
}